:root {
--white: #fff;
--black: #000000;
---purple: #4C5FD5;
--lavender: #dadbf1;
}

.black-text {
color: var(--black);
}

/* -- Buttons -- */
.purple-button {
    padding: 6px 32px;
    font-family: "GT America Standard", serif;
    font-size: calc(20px - 2px);
    line-height: 1.5;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 0;
    border: 1px solid transparent;
    background-image: none;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    font-weight: 400;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border-radius: 8px;
    background-color: var(---purple);
    color: var(--white);
}

.purple-button:hover {
    background-color: var(---white);
    color: var(--black);
}

/* -- Link Styles -- */
.list-link {
color: var(--purple);
line-height: 28px;
font-size: 20px;
text-decoration: none;
}

.list-link:hover {
text-decoration: underline;
}

a {
    text-decoration: none;
    background-color: transparent;
}

/* -- Top Bar -- */
.topbar {
position: relative;
top: 0;
left: 0;
z-index: 3;
background-color: var(--black);
color: var(--white);
display: flex;
flex-direction: row;
}

.topbar__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.topbar__logo-wrapper {
    display: flex;
    align-items: center;
}

.topbar__logo {
    transition: opacity 150mx ease-in-out;
}

.topbar__helpcenter {
    display: inline-block;
    margin: 4px 0 0 0.8rem;
    vertical-align: middle;
    color: var(--white);
    font-size: 24px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -0.5px;
    padding: 2px 0 4px 0.8rem;
    border-left: 2px solid var(--white);
    transition: all .3s;
}

svg:not(:root) {
    overflow: hidden;
}

.topbar__buttons {
order: 2;
}

.main-search {
    border: 1px solid var(--black);
    border-radius: 5px;
}